{% extends 'a_base.html' %}
{% block title %}
<title>首页</title>
{% endblock %}
{% block content %}
<div class="card-columns">
    {% for art in art_list %}
    <div class="card">
        <a href="{% url 'show:a_single' %}?id={{art.id}}" title="{{art.title}}">
            <img class="card-img-top probootstrap-animate" src="/media/{{art.title_img}}" alt="Card image cap"
                 data-animate-effect="fadeIn">
        </a>
    </div>
    {% endfor %}
</div>
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>

{% endblock %}